html,body {
    background-color: white ;
    margin: 0px;
    padding: 0; 
    height: 100%;
    
}

.header
{ 
    background-color: black  ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.tittle{ 
    margin-left: 20px;
}

.panel{ 
    padding: 10px 0;
    text-align: center;
 
}

.horizontal-menu {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
}

.horizontal-menu li {
    margin-right: 30px;
    display: inline-block;
}

.horizontal-menu li a {
    text-decoration: none;
    color: white;
}
.section{ 
    margin: 2vh 2vh 2vh  2vh;
    flex :1;
    min-height: 100%;
    position: relative;
    background-color: lightgrey;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.footer {
    text-align: center;
    margin-top: auto; 
    height: 60px;
    background-color: #282829;
    text-decoration: none;
    color: white;
    
}
footer h3
{ 
    padding: 5px;
    text-align: center;
    margin: 0;
}
.footer a {
    padding: 5px;
    text-align: center;
    color: white;
    text-decoration: none;

}

.section-box { 
    margin: 2vh 2vh 2vh  2vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
    box-sizing: border-box;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 20px; 
}
.product-box {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    
}

.scale
{ 
    max-width: 100%;
    height: auto;
    width: 100%;
    border-radius:10px ;
    box-sizing: border-box;

}
.contact-form
{
    display: flex;
    flex-direction: column;
    gap:10px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a9a9a9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    font-weight: bold;
}