html,body {
    background-color: lightgrey;
    margin: 0px;
    padding: 0; 
    height: 100%;
    
}

.header
{ 
    background-color: black  ;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.tittle{ 
    margin-left: 20px;
}

.panel{ 
    padding: 10px 0;
    text-align: center;
 
}

.horizontal-menu {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
}

.horizontal-menu li {
    margin-right: 30px;
    display: inline-block;
}

.horizontal-menu li a {
    text-decoration: none;
    color: white;
}
.section{ 
    margin: 0px 0px 3vh  3vh;
    flex :1;
    min-height: 100%;
    position: relative;
}


.footer {
    text-align: center;
    margin-bottom: 100px;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: 60px;
    background-color: #3f3f3f ;
    
}